 .favorites-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10px;
    right: 10px;
    z-index: 6;
}

.favorites-button, .reset-btn {
    background: none;
    border: none;
    color: #F3E355;
    font-family: Roboto;
    font-size: 18px;
    height: 40px;
    text-align: justify;
    text-shadow: 1px 1px 1px yellow;
    font-family: 'Poller One', cursive;
    font-weight: 200;
}

.favorites-button:hover, .reset-btn:hover {
    
    text-shadow: 2px 2px 2px yellow;
}

.lightsaber {
    width: 80px;
    z-index: 0;
}

.num-favorites {
    cursor: pointer;
    color: #F3E355;
    font-size: 60px;
    position: absolute;
    text-shadow: 3px 4px 4px black;
    z-index: 2;
}

