.crawl{
    position:absolute;
    top:-3500px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    font-size:80px;
    text-align:center;
    font-family: 'Nanum Gothic', sans-serif;
}
.crawl>div{
    padding-top:3500px;
    animation:autoscroll 1000s linear;
}
.title {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 100px;
}

.content-container{
    position:absolute;
    top:40;
    bottom:0;
    left:0;
    right:0;
    transform-origin:50% 100%;
    transform:perspective(400px) rotateX(20deg);
    color: yellow;
}

.person-container {
    color: white;
}

.people-card {
    width: 303px;
    height: 338px;
    background: rgba(0, 0, 0, 0.66);
border: 4px solid #EDE748;
box-sizing: border-box;
box-shadow: 0px 4px 40px #E3DA87;
border-radius: 66px;
}

@keyframes autoscroll{
    to {
        margin-top:-50000px;
    }    
}
