// Film Crawl
.crawl{
    position:absolute;
    top:-3500px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    text-align:center;
    font-family: 'Nanum Gothic', sans-serif;
}

.crawl>div{
    font-size:60px;
    padding-top:1000px;
    animation:autoscroll 1000s linear;
}

.crawl:after{
    content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0) 100%);
    pointer-events:none;
}

.content-container{
    position:absolute;
    top:-160px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    transform-origin:50% 100%;
    transform:perspective(400px) rotateX(20deg);
    color: yellow;
}

.title{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

// People, Planets, Vehicles Cards
.card2 {
    width: 303px;
    height: 338px;
    background: rgba(0, 0, 0, 0.66);
border: 4px solid #EDE748;
box-sizing: border-box;
box-shadow: 0px 4px 40px #E3DA87;
border-radius: 66px;
}

@keyframes autoscroll{
    to {
        margin-top:-50000px;
    }    
}

.card1, .card3 {
    width: 24%;
    height: 240px;
    background: rgba(0, 0, 0, 0.66);
    border: 2px solid #EDE748;
    box-sizing: border-box;
    /* box-shadow: 0px 4px 40px #E3DA87; */
    border-radius: 66px;
}

.name {
font-family: Roboto;
font-style: normal;
font-size: 32px;
text-align: center;
color:  #FBF230;
}

.people-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.component-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.arrow-button {
    height: 40px;
    width: 40px;
    margin: 50px 20px 0 20px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Poller One', cursive;
    background-color: rgb(244, 217, 68);
    box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.25), inset 15px 5px 3px rgba(255, 255, 255, 0.25);
}

.arrow-button:hover {
    background-color:  rgb(220, 210, 158);
    cursor: pointer;
}

.none {
    display: none;
}

