article {
  color:  #FBF230;
  font-size: 20px;
}

.name {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  color:  #FBF230;
}

p {
  
}

.small-card .name {
    font-size:  20px; 
}