.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-button {
  display: flex;
  outline: none;
  text-decoration: none;
  z-index: 4;
  align-items: center;
  background-color: rgb(244, 217, 68);
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.25), inset 15px 5px 3px rgba(255, 255, 255, 0.25);
  color: black;
  font-family: 'Poller One', cursive;
  font-size: 20px;
  height: 70px;
  justify-content: center;
  width: 160px;
}

.nav-button:hover {
  background-color:  rgb(220, 210, 158);
  cursor: pointer;
  font-size: 22px;
  transition:  .3s ease-in-out;
}

.reset-btn {
  background: none;
  border: none;
  color: #F3E355;
  font-family: 'Poller One', cursive;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 200;
  height: 40px;
  left: 5%;
  position: absolute;
  text-align: justify;
  text-shadow: 1px 1px 1px yellow;
  top: 5%;
}

.active {
  background-color:   rgb(245, 220, 75);;
  box-shadow: unset;
  text-decoration: underline;
}