.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
width: 200px;
height: 80px;
font-size: 24px;
border-radius: 20px;
font-family: 'Poller One', cursive;
background-color: rgb(244, 217, 68);
box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.25), inset 15px 5px 3px rgba(255, 255, 255, 0.25);
}

button:hover {
    background-color:  rgb(220, 210, 158);
    cursor: pointer;
}