
/* Film Crawl */
.crawl>div{
  font-size:60px;
  padding-top:1000px;
  animation:autoscroll 1000s linear;
}

.crawl:after{
  content:'';
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0) 100%);
  background:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0) 100%);
  pointer-events:none;
}

.content-container {
  position:absolute;
  top:-300px;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  transform-origin:50% 100%;
  transform:perspective(400px) rotateX(20deg);
  color: yellow;
}

.title {
  background: rgba(0,0,0,.6);
  position:absolute;
  bottom:0;
  left:100px;
  right:0;
}

/* People, Planets, Vehicles Cards */


@keyframes autoscroll{
  to {
    margin-top:-50000px;
  }    
}

.people-container {
  align-items: center;
  display: grid;
  height: 60vh;
  margin: 20px 80px 50px 80px;
  min-width: 800px;
}

.component-container {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.arrow-button {
  background-color: rgb(244, 217, 68);
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.25), inset 15px 5px 3px rgba(255, 255, 255, 0.25);
  font-family: 'Poller One', cursive;
  font-size: 20px;
  height: 40px;
  margin: 50px 20px 0 20px;
  position: absolute;
  top: 50%;
  width: 40px;
}

.left-arrow{
  left: 0;
}

.right-arrow {
  right: 0;
}

.arrow-button:hover {
  background-color:  rgb(220, 210, 158);
  cursor: pointer;
}

.none {
  display: none;
}

.hidden {
  display: none;
}

.title {
  color: black;
  font-size: 44px;
  text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
    1px 1px 0 white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}