@import url('https://fonts.googleapis.com/css?family=Poller+One');

.App {
  background-image: url('./images/starwars.jpg');
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  color:black;
  font-size: 88px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 40px;
  text-align: center;font-family: 'Poller One', cursive;
  text-shadow:
		-3px -3px 0 rgb(244, 217, 68),
		2px -2px 0 rgb(244, 217, 68),
		-2px 2px 0 rgb(244, 217, 68),
		2px 2px 0 rgb(244, 217, 68);
}

.alert-refresh {
  background-image: url(/static/media/starwars.9ce80ecb.jpg);
}

.alert-refresh > h2 {
  color: white;
  background-color: red;
}