@import url('https://fonts.googleapis.com/css?family=Poller+One');

.App {
  text-align: center;
  background-image: url('./images/starwars.jpg');
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}


.header {
  font-family: 'Poller One', cursive;
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px;
  text-shadow:
		-3px -3px 0 rgb(244, 217, 68),
		2px -2px 0 rgb(244, 217, 68),
		-2px 2px 0 rgb(244, 217, 68),
		2px 2px 0 rgb(244, 217, 68);
  font-size: 88px;
  text-align: center;
  color:black;
  border: 4px solid #000000;

}
