article {
  align-items: center;
  color:  #FBF230;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 6px;
  transition: background-color, opacity .6s ease-in-out;
}

.picture {
  border-radius: 20px;
  border: solid 1px white;
  margin: 10px;
  margin: 1em;
  max-height: 200px;
}

.middle-card>.picture {
  width: 40%;
  height: 200px;
}

.middle-card>.picture {
  width: 40%;
  height: 200px;
}

.saber {
  bottom: 16px;
  filter: grayscale(40%);
  height: 60px;
  margin-top: 10px;
  outline: none;
  position: relative;
  width: 18%;
}

.saber:hover {
  cursor: pointer;
  filter: constrast(200%);
  transform: scale(1.1);
  transition: .3s ease-in-out;
}

.saber.true {
  filter: contrast(200%);
}

.name {
  color: black;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  margin: 0;
  text-align: center;
  text-shadow:
  -1px -1px 0 rgb(238, 213, 19),  
  1px -1px 0 rgb(238, 213, 19),
  -1px 1px 0 rgb(238, 213, 19),
  1px 1px 0 rgb(238, 213, 19);
}

.small-card .name {
  font-size:  20px; 
}

.small-card {
  background: rgba(227, 218, 135, 0.2);
  height: 500px;
  margin-top: 60px;
  pointer-events: none;
  transition: background-color, opacity .6s ease-in-out;
}

.small-card>.saber {
  width: 60px;
}

.left-card {
  left: 5%;
  opacity: .5;
  position: fixed;
  width: 22%;
}

.right-card {
  opacity: .5;
  position: fixed;
  right: 5%;
  width: 22%;
}


.middle-card {
  background: rgba(227, 218, 135, 0.4);
  border-radius: 40px;
  border: 4px solid #EDE748;
  box-shadow: 0px 4px 40px rgb(227, 218, 135);
  font-size: 24px;
  height: 60%;
  left: 32%;
  margin: 20px;
  position: fixed;
  width: 34%;
}

.small-card>img {
  width: 32%;
}

.middle-card>.saber {
  height: 16%;
  width: 16%;
}

.luke {
  border-radius: 20px;
  border: solid 1px black;
  box-shadow: 2px 2px  black;
  margin: 2px;
}

.left-card, .right-card {
  background: rgba(0, 0, 0, 0.66);
  border-radius: 40px;
  border: 2px solid #EDE748;
  height: 400px;
}

p {
  color: black;
  margin: 10px;
  text-shadow: 
  .5px .5px 0 rgb(238, 213, 19);
}